@use './variables.scss' as vars;

#body{
    #body-section-ads{
        text-align: center;
        padding: 20px;
        button{
            margin: 20px;
        }
        p{
            color: #585858;
        }
    }
    #body-section-plans{
        background-color: vars.$sectionColor;
        color: white;
        text-align: center;
        padding: 20px;
        #carousel{
            display: flex;
            gap: 10px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            padding: 0 30px;
        }
        #carousel::-webkit-scrollbar{
            display: none;
        }
        button{
            margin: 20px;
        }
    }
    #body-section-comments{
        text-align: center;
        h1, p{
            padding: 20px;
        }
        // padding: 20px;
        #comments-names{
            display: flex;
            
            overflow-x: auto;
            scrollbar-width: none;
            button{
                flex: 0 0 auto;
                margin-left: 20px;
            }
        }
        #comments-stars{
            color: vars.$colorStars;
            font-size: 30px;
            padding: 20px;
            i{
                margin: 20px 0 0 20px;
            }
        }
    }
    #body-section-awards{
            background-color: vars.$sectionColor;
            text-align: center;
            padding: 20px;
            color: white;
            img{
                margin: 20px 0;
            }
            p{
                margin: 0;
            }
        }
}