@use './variables.scss' as vars;

    #header{
        background-color: vars.$headerColor_bottom;
        color: white;
        
    
        #header-top-mobile{
            background-color: vars.$headerColor_top;
            padding: 0 10px;
            #header-top-icons {
                text-align: center;
            }
            #header-top-text{
                color: white;
                text-align: center;
                .btn-link{
                    font-size: 14px;
                    color: white;
                }
            }    
        }
        #header-top-desktop{
            display: none;
        }
        @media (min-width: 820px) {
        #header-top-mobile {
            display: none; //HIDE HAMBURGER MENU
            }
        }
        #header-bottom-mobile{
            #threeItems{
                .navbar {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px;
                    #dropdownAccountButton{
                        display: flex;
                        flex-direction: row;
                        .btn-dropdown{
                            i{
                                margin-left: 10px;
                            }
                        }
                    }
                    
                }

                .nav-links {
                    display: none;
                }

                 /* Desktop */
                @media (min-width: 820px) {
                .menu-btn {
                    display: none; //HIDE HAMBURGER MENU
                }

                 .nav-links {
                    display: flex;
                    gap: 20px;
                    margin-left: 40px;
                }

                 .navbar {
                    justify-content: flex-start;
                    gap: 40px;
                }
                }
                #avatarIcon{
                // text-align: center;
                    img{
                        height: 40px;
                    }
                }
            }
        #dropdownAndImg{
            display: flex;
                .dropdown-toggle::after{
                    display: none;
                }
                i{
                    margin-left: 10px;
                }
            }
        /* Desktop */
        @media (min-width: 820px) {
        #dropdownAndImg {
            display: none; //HIDE HAMBURGER MENU
            }
        }
        
    }
}