@use './variables.scss' as vars;

// @media (min-width: 376px){
    #header{
        background-color: vars.$headerColor_bottom;
        color: white;
        
    
        #header-top-mobile{
            background-color: vars.$headerColor_top;
            padding: 0 10px;
            #header-top-icons {
                text-align: center;
            }
            #header-top-text{
                color: white;
                text-align: center;
                .btn-link{
                    font-size: 14px;
                    color: white;
                }
            }
            
        }
        #header-bottom-mobile{
            padding: 10px;
            #threeItems{
                #hamburgerMenu{
                    i{
                        font-size: 30px;
                    }
                    #offcanvas_options{
                        padding: 0;
                        width: 100%;
                        li{
                            list-style: none;
                            a{
                                color: black;
                                text-decoration: none;
                            }
                        }
                        li:hover{
                                background-color: vars.$colorShadow;
                            }  
                    }
                }
                #avatarIcon{
                // text-align: center;
                    img{
                        height: 40px;
                    }
                }
            }
        #dropdownAndImg{
            .dropdown-toggle::after{
                display: none;
            }
            i{
                margin-left: 10px;
            }
        }
        }
        // @media (min-width: 820px) and (max-width: 1440px){
        //     #header-top-desktop{
        //         background-color: vars.$headerColor_top;
        //         display: block;
        //     }
        //     #header-bottom-desktop{

        //     }
        // }
}
    
//}

