.btn-otherOption {
  background-color: white;
  color: #C9CDD4;
  border: 2px solid #C9CDD4;
  font-weight: bold;
}

.btn-otherOption:hover {
  border: 2px solid #C9CDD4;
  color: #C9CDD4;
  font-weight: bold;
}

.btn-dropdown {
  border: none;
  color: white;
}

.btn-dropdown:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.0588235294);
  color: white;
}

.btn-no {
  border: none;
  background-color: transparent;
  color: white;
}

.btn-no:hover {
  background-color: rgba(0, 0, 0, 0.0588235294);
  border: none;
}

.dropdown-toggle::after {
  display: none;
}

#header {
  background-color: #000000;
  color: white;
}
#header #header-top-mobile {
  background-color: #6E26FF;
  padding: 0 10px;
}
#header #header-top-mobile #header-top-icons {
  text-align: center;
}
#header #header-top-mobile #header-top-text {
  color: white;
  text-align: center;
}
#header #header-top-mobile #header-top-text .btn-link {
  font-size: 14px;
  color: white;
}
#header #header-top-desktop {
  display: none;
}
@media (min-width: 820px) {
  #header #header-top-mobile {
    display: none;
  }
}
#header #header-bottom-mobile #threeItems .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
#header #header-bottom-mobile #threeItems .navbar #dropdownAccountButton {
  display: flex;
  flex-direction: row;
}
#header #header-bottom-mobile #threeItems .navbar #dropdownAccountButton .btn-dropdown i {
  margin-left: 10px;
}
#header #header-bottom-mobile #threeItems .nav-links {
  display: none;
}
#header #header-bottom-mobile #threeItems {
  /* Desktop */
}
@media (min-width: 820px) {
  #header #header-bottom-mobile #threeItems .menu-btn {
    display: none;
  }
  #header #header-bottom-mobile #threeItems .nav-links {
    display: flex;
    gap: 20px;
    margin-left: 40px;
  }
  #header #header-bottom-mobile #threeItems .navbar {
    justify-content: flex-start;
    gap: 40px;
  }
}
#header #header-bottom-mobile #threeItems #avatarIcon img {
  height: 40px;
}
#header #header-bottom-mobile #dropdownAndImg {
  display: flex;
}
#header #header-bottom-mobile #dropdownAndImg .dropdown-toggle::after {
  display: none;
}
#header #header-bottom-mobile #dropdownAndImg i {
  margin-left: 10px;
}
#header #header-bottom-mobile {
  /* Desktop */
}
@media (min-width: 820px) {
  #header #header-bottom-mobile #dropdownAndImg {
    display: none;
  }
}

#body #body-section-ads {
  text-align: center;
  padding: 20px;
}
#body #body-section-ads button {
  margin: 20px;
}
#body #body-section-ads p {
  color: #585858;
}
#body #body-section-plans {
  background-color: #17171F;
  color: white;
  text-align: center;
  padding: 20px;
}
#body #body-section-plans #carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 30px;
  justify-content: center;
}
#body #body-section-plans #carousel::-webkit-scrollbar {
  display: none;
}
#body #body-section-plans button {
  margin: 20px;
}
#body #body-section-comments #comments-award {
  display: none;
}
#body #body-section-comments {
  text-align: center;
}
#body #body-section-comments h1, #body #body-section-comments p {
  padding: 20px;
}
#body #body-section-comments #comments-names {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}
#body #body-section-comments #comments-names button {
  flex: 0 0 auto;
  margin-left: 40px;
}
#body #body-section-comments #comments-stars {
  color: #EFAB00;
  font-size: 30px;
  padding: 20px;
}
#body #body-section-comments #comments-stars i {
  margin: 20px 0 0 20px;
}
@media (min-width: 820px) {
  #body #body-section-comments {
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px;
  }
  #body #body-section-comments #commentsWithAward {
    display: grid;
    grid-template-columns: auto auto;
  }
  #body #body-section-comments #commentsWithAward #comments-award {
    display: flex;
  }
  #body #body-section-comments #commentsWithAward #comments-area #comments-names button {
    margin-left: 20px;
  }
  #body #body-section-comments #commentsWithAward #comments-area #comments-stars {
    text-align: left;
  }
  #body #body-section-comments #commentsWithAward #comments-area #comments-stars i {
    margin: 20px 20px 0 0;
  }
  #body #body-section-comments #commentsWithAward #comments-area #comments_text {
    font-size: 32px;
    text-align: left;
  }
}
#body #body-section-awards {
  background-color: #17171F;
  text-align: center;
  padding: 20px;
  color: white;
}
#body #body-section-awards img {
  margin: 20px 0;
}
#body #body-section-awards p {
  margin: 0;
}
@media (min-width: 820px) {
  #body #body-section-awards {
    display: none;
  }
}

@media (min-width: 820px) {
  #header-top-desktop {
    background-color: #6E26FF;
    display: block !important;
  }
  #header-top-desktop #header-desktop-imglink {
    display: flex;
    justify-content: center;
  }
  #header-top-desktop #header-desktop-imglink .img-top {
    padding-right: 20px;
  }
  #header-top-desktop #header-desktop-imglink .text-top {
    align-self: center;
  }
  #header-top-desktop #header-desktop-imglink .text-top .btn-link {
    color: white;
  }
}

/*# sourceMappingURL=App.css.map */
